<header class="logo-unit" id="banner">
  <div class="container">
    <div class="main" style="text-align: left;">
      <h1>
        <img src="../../assets/images/logo-1.png" style="width: 92px;" alt="I'm Yeoman">
        Votre projet
      </h1>
    </div>
  </div>
</header>

<div class="container">
  <div class="main">
    {{project.email}}
    <form name="projectDetailsForm">
      <input type="text" name="name" ng-model="project.name">
    </form>
    <a ng-click="save()">Enregistrer</a>
  </div>
</div>
