<header class="logo-unit" id="banner">
  <div class="container">
    <div class="main" style="text-align: left;">
      <h1>
        <img src="../../assets/images/logo-1.png" style="width: 92px;" alt="I'm Yeoman">
        Votre projet
      </h1>
    </div>
  </div>

  <style>
    textarea {
      background-color: #F8F8F8 !important;
      padding: 4px !important;
      resize:vertical;
    }
  </style>
</header>

<div class="container">
  <div class="main">
    <br/>

    <div class="alert alert-info">
      Remplissez ce dossier en répondant aux questions posées, en restant aussi simple et clair que possible. Si vous avez besoin d'aide
      pour répondre aux questions, contactez-nous par mail: <a href="mailto:info@hackathon-citoyen.org">info@hackathon-citoyen.org</a>
      <br>
      Vous pourrez modifier ce dossier à tout moment en utilisant le lien que vous avez reçu par mail.
      <hr>
      Si nécessaire, nous vous recontacterons par email pour améliorer votre dossier.
    </div>

    <p><b>Email utilisé pour ce dossier : </b>{{project.email}}</p>
    <form name="projectDetailsForm">
      <div class="form-group">
        <label for="name">Nom de l'association</label>
        <input type="text" id="name" name="name" ng-model="project.name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="activity">Décrivez l'action de votre association</label>
        <textarea type="text" id="activity" name="activity" ng-model="project.activity" class="form-control" required rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="usage">Décrivez l'utilisation du numérique dans votre association (logiciel, applications, sites, etc)</label>
        <textarea type="text" id="usage" name="usage" ng-model="project.usage" class="form-control" required rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="project">Quel est votre besoin numérique ou le projet que vous souhaitez proposer ?</label>
        <textarea type="text" id="project" name="project" ng-model="project.project" class="form-control" required rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="lead">Qui sera le porteur de projet de votre côté ? Il/elle devra être présent durant la durée de l'évènement</label>
        <input type="text" id="lead" name="lead" ng-model="project.lead" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="gain">Décrivez les apports du projet numérique à votre association</label>
        <textarea type="text" id="gain" name="gain" ng-model="project.gain" class="form-control" required rows="4"></textarea>
      </div>
      <p class="alert alert-warning" ng-if="projectDetailsForm.$invalid">
        <span style="font-weight: bold;">Attention: Tous les champs du dossier sont obligatoires.</span>
      </p>
      <div class="alert alert-success" ng-show="success">
        Modifications bien enregistrées.
      </div>
    </form>
    <button ng-click="save()" class="btn btn-info" ng-disabled="projectDetailsForm.$invalid">Enregistrer</button>
  </div>
</div>
