<header class="logo-unit" id="banner">
  <div class="container">
    <div class="main" style="text-align: left;">
      <h1>
        <img src="../../assets/images/logo-1.png" style="width: 92px;" alt="I'm Yeoman">
        Dépot dossier
      </h1>
    </div>
  </div>
</header>

<div class="container">
  <div class="main">
    <h3>
      Pour déposer un dossier veuillez entrer votre email afin de recevoir la procédure à suivre pour déposer votre dossier.
    </h3>
    <br/><br/>
    <form name="initProjectForm">
      <div class="form-control-wrapper">
        <input type="email" name="email" ng-model="email"
               class="form-control" ng-class="initProjectForm.email.$dirty ? '' : 'empty'"
               ng-required="true">
        <div class="floating-label">
          Email
        </div>
        <div class="material-input"></div>
      </div>
    </form>
    <div class="text-center">
      <a ng-click="startProjet(email)" class="btn btn-primary" ng-disabled="initProjectForm.$invalid">Commencer</a>
    </div>

  </div>
</div>
