<header class="logo-unit" id="banner">
  <div class="container">
    <div class="main" style="text-align: left;">
      <h1>
        <img src="../../assets/images/logo-1.png" style="width: 92px;" alt="I'm Yeoman">
        Dépot dossier
      </h1>
    </div>
  </div>
</header>

<div class="container">
  <div class="main">
    <h3>Prêt à remplir un dossier ?</h3>
    <div style="margin-bottom: 16px;">
      Il vous suffit de suivre ces trois étapes très simples:
      <ol>
        <li>Renseignez votre email, puis cliquez sur le bouton <i>Commencer</i></li>
        <li>Vous allez recevoir un email vous permettant d'accéder par un lien au formulaire</li>
        <li>Remplissez-le en ligne, en décrivant votre association et votre projet</li>
      </ol>
    </div>
    <form name="initProjectForm">
      <div class="form-control-wrapper">
        <input type="email" name="email" ng-model="email"
               class="form-control" ng-class="initProjectForm.email.$dirty ? '' : 'empty'" ng-required="true">
        <div class="floating-label">
          Indiquez ici votre email
        </div>
        <div class="material-input"></div>
      </div>
    </form>

    <div class="text-center">
      <a ng-click="startProjet(email)" class="btn btn-primary" ng-disabled="initProjectForm.$invalid">Commencer !</a>
    </div>

    <div class="alert" style="margin-top: 1em;">
      Si vous souhaitez proposer plusieurs projets pour le hackathon, démarrez la procédure autant de fois que vous avez
      de projets: vous recevrez à chaque fois un email avec un lien spécifique à chaque dossier.
    </div>

    <div class="">
      Pour toute question, n'hésitez pas à nous envoyer un mail à l'adresse <a href="mailto:info@hackathon-citoyen.org">info@hackathon-citoyen.org</a>
    </div>

  </div>


</div>

