@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';
@import "../bower_components/bootstrap-material-design/less/material-fullpalette";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,800);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

// Redefine bootstrap variables
//@body-bg: #105369;
//@text-color: white;
//@link-color: lighten(@body-bg, 40%);
//@font-family-base:'Open Sans', sans-serif;
//// specific variables
//@body-bg-compl: #50ade5;


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'main/main.less';
@import 'modal/modal.less';
// endinjector

@primary: #77b3d4;
@font-family-base: "'Open Sans', sans-serif";
@navbar-default-bg: #000000;



