
.card-full:extend(.jumbotron) {
  .shadow-z-2;
}

.card-full-flat:extend(.jumbotron) {
  padding: 8px 0px 8px 0px;
  margin: 0px;
}

.card {
  padding: 8px;
}

.card-blue {
  background-color: @blue;
  color: white;
}

.card-green {
  background-color: @green-300;
  color: white;
}
.card-red {
  background-color: darken(#c75c5c, 10%);
  color: @color2;
  font-size: 1.2em;
  a.btn {
    color: @color2 !important;
  }
}

.card-hightlight {
  background-color: @yellow-50;
}

