h1.logo-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 60px !important;
}

h2.logo-title {
  font-weight: 400;
  font-family: 'Pacifico', cursive;
  font-size: 92px;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

.logo-unit {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: @blue;
}


.expl-unit {
  .main-page-unicolumn();
  font-size: 1em;
  text-align: center;
  padding-top: 2em;
  font-family: 'Open Sans', sans-serif;
}
