<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <img src="../../assets/images/Logo-Hackathon-Citoyen.png" style="width: 350px;" alt="I'm Yeoman">
  </div>
</header>

<div class="jumbotron"  style="padding: 0px;">

  <!-- Modal -->
  <div class="modal fade" id="email-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="landing-email-modal">
        <div class="modal-body">
          <p> En nous donnant votre adresse mail, nous vous tiendrons informé des nouveautés concernant le Hackathon Citoyen.
          <p> Votre adresse mail ne sera utilisé à aucune autre fin, et vous pourrez vous désinscrire à tout moment.
          <p> Nous enverrons au maximum un courrier par mois.
        </div>
        <div class="landing-email-modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Je suis rassuré !</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="email-sub-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="landing-email-modal">
        <div class="modal-body">
          <div>
            <p> Une erreur s'est produite en enregistrant votre adresse mail.
          </div>
        </div>
        <div class="landing-email-modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
    <div class="landing-email-form">
      <div ng-show="emailRegistered" ng-cloak class="alert alert-info">
        <h3>Votre inscription à notre newsletter a bien été enregistrée&nbsp;!</h3>
        <brezez@>
        Vous allez recevoir un message vous demandant de confirmer votre adresse (pensez à vérifier dans vos spams), vous ne serez
        inscrit qu'après cette confirmation de votre part.
      </div>
      <div ng-hide="emailRegistered">
        <h3 style="text-align: center;">Restez en contact avec nous&nbsp;!</h3>

        <div ng-if="emailData.error" class="alert alert-dismissable alert-warning">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ emailData.error }}
        </div>

        <form class="form-horizontal">
          <div class="form-group" style="text-align: center;">
            <div style="display: inline-block;">
              <input type="email" ng-model="emailData.address" class="form-control floating-label input-lg" placeholder="votre@email.fr" aria-describedby="basic-addon1" data-hint="votre email">
            </div>
            <div style="display: inline-block;">
              <div class="btn-group" style="text-align: left;">
                <a href="javascript:void(0)" class="btn btn-info dropdown-toggle" data-toggle="dropdown">{{ emailData.type.label }}</a>
                <a href="bootstrap-elements.html" data-target="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-repeat="item in emailOptions.types" ng-click="emailData.type=item"><a href="#">{{ item.choiceLabel }}</a></li>
                </ul>
              </div>
            </div>

            <div style="text-align: center;">
              <button type="submit" class="btn btn-material-light-green" ng-click="subscribeNewsletter()" ng-disabled="emailData.processing" >
                <span class="glyphicon glyphicon-envelope"></span>
                Tenez-moi informé&nbsp;!
              </button>
              <button class="btn btn-xs btn-link" data-toggle="modal"  data-target="#email-info"><span class="glyphicon glyphicon-question-sign glyphicon-" aria-hidden="true"></span></button>
            </div>


          </div>
        </form>

      </div>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="expl-unit">
      <p>
      Un hackathon citoyen est un événement où des développeurs, des designers et des spécialistes du numérique se réunissent bénévolement pour concevoir et réaliser des projets numériques collaboratifs et participatifs pour des associations et des établissements publics.

      <p>
      Les associations auront l'occasion de présenter leurs projets et leurs besoins aux organisateurs afin d'être potentiellement sélectionnés.

      <p>
      Une réunion d'information aura lieu le 23 juin 2015 à la pépinière du sanitas.
      Vous pourrez déposer vos projets sur le site web xxxxx. Jusqu'à 10 projets seront sélectionnés !
      Les participants auront deux jours pour réaliser votre projet.

      <p>
      Associations: si vous souhaitez participer et proposer un projet vous permettant de faciliter votre travail, votre communication, ou la gestion de vos activités, rendez-vous sur le sitetours.hackathon-citoyen.fr

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container" style="display: none;">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
