<page-title>Liste des projets</page-title>

<div class="col-md-12">
</div>

<div class="container">


    <div ng-show=""projects.length>0">
      Chargement en cours
    </div>

    <div  ng-show="!currentProject && projects.length>0">


      <div ng-repeat="project in projects">
        <div class="row">

          <div class="project-list-image">
            <h3 >
              <img ng-if="project.logoUrl" src="{{project.logoUrl}}" style="max-height: 64px; max-width: 128px; border: 1px solid #DDDDDD;">
              <img ng-if="!project.logoUrl" src="/assets/images/pas-de-logo.png" style="max-height: 64px; max-width: 128px; border: 1px solid #DDDDDD;">
            </h3>
          </div>

          <div class="project-list-content">
            <div style="float: right;">
              <button ng-if="project.developers" class="btn btn-primary"><i class="fa fa-user-times"></i> {{ project.developers }} Développeurs</button> <br>
              <button ng-if="project.designers" class="btn btn-primary"><i class="fa fa-user-times"></i> {{ project.designers }} Artistes</button>
            </div>
            <div>
              <h3>{{ project.name }}</h3>
              <h4>{{ project.subTitle }}</h4>
              <div ng-if="project.abstract" style="font-size: 1.2em; color: blue; font-weight: bold;">
                Projet: {{ project.abstract }}
              </div>
              <a href="/project-details/{{ project.id }}">FICHE</a>
              <a href="/join/{{ project.id }}">Rejoindre l'équipe</a>
              <button class="btn-link" ng-click="setCurrentProject(project)">Voir la fiche projet</button>


            </div>
            <hr>
          </div>

        </div>
    </div>

  </div>
</div>
