<page-title>Liste des projets</page-title>

<div class="container">


    <div ng-show=""projects.length>0">
      Chargement en cours
    </div>

    <div  ng-show="!currentProject && projects.length>0" style="padding-top: 16px;">

      <div class="well">
        <div class="row">
          <div class="col-md-8 col-md-offset-2" style="margin-bottom: 16px; font-size: 1.2em;">
            <h2>Hackathon Citoyen: 10 et 11 octobre 2015</h2>
            <div>Voici la liste des projets pour le Hackathon Citoyen 2015. Pour vous inscrire, cliquez sur le bouton "Participer".</div>
            <div style="margin-top: 8px;">
              Trop de choix ? <br>Vous pouvez aussi <a href="https://www.eventbrite.fr/e/billets-hackathon-citoyen-18754201321">vous inscrire et choisir sur place votre projet</a>
            </div>

          </div>
        </div>
      </div>


      <div ng-repeat="project in projects">

        <project-card project="project" type="short" see-full="/project-details/{{ project.id }}"></project-card>

        <!--<div class="panel row">-->

          <!--<div class="project-list-image">-->
            <!--<h3>-->
              <!--<img ng-if="project.logoUrl" src="{{project.logoUrl}}" style="max-height: 64px; max-width: 128px; border: 0px solid #DDDDDD;">-->
              <!--<img ng-if="!project.logoUrl" src="/assets/images/pas-de-logo.png" style="max-height: 64px; max-width: 128px; border: 0px solid #DDDDDD;">-->
            <!--</h3>-->
          <!--</div>-->

          <!--<div class="project-list-content">-->
            <!--<div style="float: right; text-align: right;">-->
              <!--<div ng-if="project.developers" style="font-size: 1.4em;"><span class="label label-black">developpeurs</span><span class="label label-info"><i class="fa fa-user-times"></i> {{ project.developers }}</span></div>-->
              <!--<div ng-if="project.designers" style="font-size: 1.4em;"><span class="label label-black">graphistes/designers</span><span class="label label-info"><i class="fa fa-user-times"></i> {{ project.designers }}</span></div>-->
            <!--</div>-->
            <!--<div>-->
              <!--<h3>{{ project.name }}</h3>-->
              <!--<h4>{{ project.subTitle }}</h4>-->
              <!--<div ng-if="project.abstract" style="font-size: 1.2em; color: blue; font-weight: bold;">-->
                <!--Projet: {{ project.abstract }}-->
              <!--</div>-->
              <!--<a class="btn btn-primary" href="/project-details/{{ project.id }}"> <i class="fa fa-arrow-circle-o-right"></i> Voir la fiche complète</a>-->
              <!--<a class="btn btn-success" href="/project-details/{{ project.id }}"> <i class="fa fa-arrow-circle-o-right"></i> Participer </a>-->
            <!--</div>-->
            <!--<div style="margin-bottom: 16px;">-->
              <!--<span class="badge" style="margin-right: 0.2em;" ng-repeat="tag in project.tags">{{tag}}</span> &nbsp;-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->



    </div>

  </div>
</div>
